*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background:#121212;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a5ac2d;
    clip-path: circle(25% at bottom right);
}
header{
    padding: 40px 100px;
    background: #121212;
    font-size: 18px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 65px;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navigation ul li a{
    color: white;
}
.suschef{
    color: rgb(0, 0, 0);
}
.sugestao{
    position: absolute;
    bottom: 180px;
    right: 30px;
}
.chef{
    position: absolute;
    bottom: 120px;
    right: 12px;
}