*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background:#121212;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a5ac2d;
    clip-path: circle(50% at bottom right);
}
header{
    padding: 40px 100px;
    background: #121212;
    font-size: 18px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 65px;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navigation ul li a{
    color: white;
}

/*Main*/

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 630px;
    margin-right: 20px;
}
.content .text h1{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-weight: 700;
}
.content .text h1 span{
    font-size: 1.5em;
    color: #a5ac2d;
}
.content .text p{
    color: #fff;
}
.content ul{
    display: flex;
    align-items: center;
    padding: 10px 0px; 
    gap: 30px;
    color: #a5ac2d;;
    
}
.content .text a{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    background: #a5ac2d;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.boxImg{
    position: absolute;
    right: -850px;
    bottom: -250px;
}
.boxImg img{
    width: 850px;
}